html{
    font-family: 'Inria Sans';
}
body{
    margin: 0 auto;
    background-color: #efefef;
}
header{
    color: white;
    background-color: rgb(48, 69, 70);
    padding: 3rem;
}
header h1{
     font-size: 4rem;
     text-align: center;
}
section{
    width: 300px;
    margin: 0 auto;
}
section article{
    transition: all 0.3s ease;
    background-color: white;
    margin: 0 auto;
    border-radius: 0.5rem 0.3rem;
    padding: 1rem 0 auto;
    cursor: pointer;
}
section article h2, section article p{
    margin: 1rem;
    padding: 1rem 0 auto;
}
section article:hover{
    box-shadow: 0.3rem 0.3rem 0.5rem rgb(0, 0, 0, 30%)
}
.contenedores-horizontales{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
div article{
    margin: 0.5rem;
}
.contenedor{
    transition: all 0.3 ease;
    background-color: rgb(190, 190, 190);
    border: 1px solid #000;
    border-radius: 10px;
    margin: 0 auto;
    padding: 1rem;
    width: 300px;
    cursor: pointer;
}
.contenedor:hover{
    box-shadow: 0 0.4rem 0.4rem rgba(199, 11, 11, 0.3);
}
.contenedor h2{
    font-size: 18px;
    margin-bottom: 10px;
}
.contenedor p{
    font-size: 14px;
    color: darkgreen;
}
section{
    text-align: center;
}
footer{
    padding: 3rem 2rem;
    background-color: black;
    color: white;
}
footer section{
    float: right;
}
footer a{
    text-decoration: none;
    transition: all 0.2s ease;
    color: white;
}
footer a:hover{
    color: blueviolet;
}
footer p{
    margin: 0 auto;
}


