.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }
  header{
    background-color: black;
    margin: 0 auto;
    padding: 5%
  }
.principal{
    text-align: center;
    color: white;
}
main{
    background-color: #efefef;
}
.sub-titulo{
    color: brown;
}
.practicando{
    color: brown;
    background-color: black; 
}
