header{
    background-color: #1A1A19;
    color: white;
    text-align: center;
    margin:0 auto;
}
.botones {
    text-align: right;
    padding: 10px;
    margin: 0 auto;
}
.div1{
    background-color: bisque;
}
.div2{
   
}

.titulo{
    color: rgb(65, 65, 124);
    margin: 0 auto;
}
.parrafo{
    margin: 0 auto;
}
.momento{
    color: rgb(0, 0, 0, 80%);
}
.parent {
    text-align: center;
    width: 100%;
    margin:10px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 5 / 5; }
    .div2 { grid-area: 1 / 5 / 3 / 7; }
    .div3 { grid-area: 3 / 5 / 5 / 7; }
    .div4 { grid-area: 1 / 7 / 3 / 9; }
    .div5 { grid-area: 3 / 7 / 5 / 9; }

@media(max-width: 400px) {

    .parent{
        background-color: aquamarine;
        display: block;
    }
}
@media(min-width: 1390px) {
    .div1{
        background-color: blueviolet;
    }
    .div2{
        background-color: blueviolet;
    }
    .div3{
        background-color: blueviolet;
    }
    .div4{
        background-color: blueviolet;
    }
    .div5{
        background-color: blueviolet;
    }
}
    
